@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h1>Login</h1>
<form id="switchToRegisterForm" asp-controller="Account" asp-action="SwitchToRegister" method="post">
    <label>Don't have an account?</label>
    <button type="submit">Register</button>
</form>