@{
    Layout = "_Layout";
}

<h1>Beer List</h1>
<div class="paragraph">
    <p>List of beers I've tried.</p>
    <ul>
        <li>
            <strong>Hofbr&auml;u Original</strong> &mdash; Hofbr&auml;u M&uuml;nchen &nbsp;&nbsp; <em>Munich, Germany</em>
        </li>
        <li>
            <a href="https://blackabbeybrewing.com/the-rose/"><strong>The Rose</strong></a> &mdash; Black Abbey &nbsp;&nbsp; <em>Nashville, Tennessee, USA</em>
        </li>
    </ul>
</div>