@{
    Layout = "_Layout";
}

<h1>Beer List</h1>
<div class="paragraph">
    <p>List of beers I've tried.</p>
    <ul>
        <li>
            <a href="https://blackabbeybrewing.com/the-rose/"><strong>The Rose</strong></a> &mdash; Black Abbey &nbsp;&nbsp; <em>Nashville, Tennessee, USA</em>
        </li>
        <li>
            <a href="http://goodpeoplebrewing.com/our-beer/pale-ale"><strong>Pale Ale</strong></a> &mdash; Good People &nbsp;&nbsp; <em>Birmingham, Alabama, USA</em>
        </li>
        <li>
            <a href="https://www.guinness.com/en-us/our-beers/guinness-draught/"><strong>Guinness Draught</strong></a> &mdash; Guinness &nbsp;&nbsp; <em>Dublin, Ireland</em>
        </li>
        <li>
            <strong>Hofbr&auml;u Original</strong> &mdash; Hofbr&auml;u M&uuml;nchen &nbsp;&nbsp; <em>Munich, Germany</em>
        </li>
        <li>
            <a href="https://mondaynightbrewing.com/beers/dr-robot/"><strong>Dr. Robot</strong></a> &mdash; Monday Night &nbsp;&nbsp; <em>Atlanta, Georgia, USA</em>
        </li>
        <li>
            <a href="http://musiccitybeerco.com/"><strong>Music City Light</strong></a> &mdash; Music City Beer Co. &nbsp;&nbsp; <em>Nashville, Tennessee, USA</em>
        </li>
        <li>
            <a href="https://www.samueladams.com/our-beers/limited-release/variety-pack/winter-variety-pack"><strong>Chocolate Bock</strong></a>
            &mdash; Sam Adams &nbsp;&nbsp; <em>Boston, Massachusetts, USA</em>
        </li>
        <li>
            <a href="https://www.turtleanarchy.com/category/beers/year-round/"><strong>Portly Stout</strong></a> &mdash; Turtle Anarchy &nbsp;&nbsp; <em>Nashville, Tennessee, USA</em>
        </li>
        <li>
            <a href="https://yazoobrew.com/beer/hefeweizen/"><strong>Hefeweizen</strong></a> &mdash; Yazoo &nbsp;&nbsp; <em>Nashville, Tennessee, USA</em>
        </li>
    </ul>
</div>