<h1>About</h1>
<p class="paragraph">I am a software developer who works at <a href="https://contessahealth.com/">Contessa Health</a> in Nashville, TN and lives in nearby Franklin. I moved here at the end
    of 2017 after spending most of my earlier life in Georgia. My family consists of my wife, two children and
    a black cat named Yinz. I have been fascinated by programming since I took a C++ class as an elective in college,
    but I have lots of other interests including listening to and playing music (mostly bass), reading,
    running and watching sports. I've dabbled in brewing beer and cycling (not at the same time). My favorite book is
    probably either Lord of the Rings or Catch-22. My favorite band is Rush but I listen to lots of different music; I
    won't say "all kinds" because that's a lazy answer but I'm a fan of artists ranging from Lana Del Rey to Future Sound
    of London to King Crimson to The Specials. I attend the Cool Springs location of <a href="https://www.christpres.org/">Christ Presbyterian Church</a>. This
    website is all hand-written html and css because most of the web has gone in a dumb direction and I was inspired by
    things like <a href="https://justinjackson.ca/words.html">this</a> to go about it differently.
</p>
<h1>News</h1>
<p class="paragraph"><strong>02/13/2010</strong>&mdash;In a follow up to the previous post, Nashville SC has reached
an <a href="https://www.nashvillesc.com/post/2020/02/13/mayor-cooper-reaches-deal-nashville-sc-ownership-move-forward-stadium-demolition">agreement</a>
with the city to continue with the construction of a soccer specific stadium. I'm excited for the momentum this will give
the team and I'm looking forward to watching soccer in a world-class facility just minutes from my home! Reminder, the
first game of the 2020 MLS season is on February 29th vs Atlanta United!</p>
<p class="paragraph"><strong>02/08/2020</strong>&mdash;Nashville Mayor John Cooper is being obtuse and holding up an
    already&dash;agreed&dash;upon deal for constructing a soccer stadium at the Nashville Fairgrounds.
    Support the team by attending a <a href="https://www.nashvillesc.com/schedule">Nashville SC</a> home game and
    demonstrating the importance of the team to the city.</p>